.transaction-history {
  display:flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 0 auto;
}

.transaction-history h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: #333 solid 1px;
  font-size: 16px; 
}

th {
  background-color: #004d00;
  color: white;
}

.network-cell {
  display: flex;
  align-items: center;
  border: #333 solid 1px;
}

.network-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .transaction-history {
    padding: 15px;
  }

  th, td {
    font-size: 14px; 
    padding: 10px; 
  }

  .network-logo {
    width: 20px;
    height: 20px; 
  }
}

@media (max-width: 480px) {
  .transaction-history {
    padding: 10px;
  }

  th, td {
    font-size: 12px; 
    padding: 8px; 
  }

  .network-logo {
    width: 16px; 
    height: 16px; 
  }
}
