.header {
  display: flex;
  flex-direction: column; /* Stacks elements vertically on small screens */
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e1e1e1;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.header .logo a {
  color: #004d00; /* İstediğiniz renk */
  text-decoration: none; /* Alt çizgiyi kaldırır */
}

.nav {
  display: flex;
  flex-direction: column; /* Stacks nav links vertically on small screens */
  align-items: center;
}

.nav a {
  margin: 10px 0; /* Adjust margin for vertical spacing */
  text-decoration: none;
  color: #004d00;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row; /* Stacks elements horizontally on larger screens */
    justify-content: space-between;
    align-items: center;
  }

  .logo {
  font-size: 48px;
  font-weight: bold;
}

.header .logo a {
  color: #004d00; /* İstediğiniz renk */
  text-decoration: none; /* Alt çizgiyi kaldırır */
}

  .nav {
    flex-direction: row; /* Stacks nav links horizontally on larger screens */
  }

  .nav a {
    margin: 0 15px; /* Adjust margin for horizontal spacing */
    text-decoration: none;
  color: #004d00;
  }
}


.nav a:hover {
  text-decoration: underline;
  color: #268d07;
}
