.banner {
    width: 90%; /* Banner genişliği */
    height: 400px; /* Banner yüksekliği */
    margin: 0 auto; /* Ortalamak için */
    position: relative;
    overflow: hidden;
  }
  
  .banner-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .banner-text {
    color: white;
    text-align: center;
    background-color: rgba(43, 47, 42, 0.5); /* Metin arka planı için yarı saydam siyah */
    padding: 20px;
  }
  
  .banner h1 {  
    margin: 0;
    font-size: 48px; /* Başlık boyutu */
  }
  
